[submodule "openmp/lab1/argh"]
	path = openmp/lab1/argh
	url = git@github.com:adishavit/argh.git
[submodule "openmp/lab2/argh"]
	path = openmp/lab2/argh
	url = git@github.com:adishavit/argh.git
[submodule "openmp/homework/argh"]
	path = openmp/homework/argh
	url = git@github.com:adishavit/argh.git
